<mat-tab-group>
	<mat-tab label="Cards">
		<betwelines-card-list></betwelines-card-list> 
	</mat-tab>
	<mat-tab label="Images">
		<betwelines-images-panel></betwelines-images-panel>
	</mat-tab>
</mat-tab-group>