<button mat-button color="white" [matMenuTriggerFor]="versionsPopup" aria-label="Select a version" 
	matTooltip="Select a version of the documentation">
	{{ selectedVersion }}
	<mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">arrow_drop_down</mat-icon>
</button>
<mat-menu #versionsPopup="matMenu">
	<a mat-menu-item *ngFor="let version of versions" (click)="onVersionSelected(version)">{{version}}</a>
</mat-menu>