
<div *ngIf="article" class="article">

	<div [class]="resourcePanelOpen ? 'article-body-narrow' : 'article-body-wide'">
		<mat-card *ngIf="article">
			<div *ngIf="!editMode" class="article-edit-btn">
				<button mat-icon-button color="primary" (click)="editArticle(article)">
					<mat-icon aria-label="Edit article">edit</mat-icon>
				</button>
				<button mat-icon-button color="primary" (click)="deleteArticle()">
					<mat-icon aria-label="Delete article">delete</mat-icon>
				</button>
			</div>
			
			<!-- <markdown *ngIf="!editMode" [data]="article.content" ></markdown> -->
			<betwelines-text-viewer *ngIf="!editMode" [options]="viewerOptions" [markdownString]="article.content"></betwelines-text-viewer>
			
			<div *ngIf="editMode" class="article-edit-container">
				<betwelines-text-editor #textEditor [options]="editorOptions" (onChangeMarkdown)="setChangedArticleContent($event)"></betwelines-text-editor>
				<!-- <textarea [(ngModel)]="editedArticle.content"></textarea> -->

				<button mat-raised-button (click)="cancelEdit()">Cancel</button>
				<button mat-raised-button color="primary" (click)="saveArticle()">Save</button>
			</div>
		</mat-card>
	</div>

	<div *ngIf="resourcePanelOpen" class="article-resource-panel">
		<button mat-icon-button aria-label="Open article resource panel" class="article-resource-panel-close-btn"
				(click)="resourcePanelOpen = false">
			<mat-icon>keyboard_arrow_right</mat-icon>
		</button>
		<betwelines-resources [article]="article"></betwelines-resources>
	</div>
	<div *ngIf="!resourcePanelOpen" class="article-resource-panel-opener">
		<button mat-icon-button aria-label="Close article resource panel" (click)="resourcePanelOpen = true">
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>
	</div>

</div>