<h1 mat-dialog-title>New Article</h1>
<div mat-dialog-content>
	<mat-form-field>
		<mat-label>Title</mat-label>
		<input matInput [(ngModel)]="article.tocLabel"/>
	</mat-form-field>
	<mat-form-field *ngIf="article.handle">
		<mat-label>Handle</mat-label>
		<input matInput [(ngModel)]="article.handle" [disabled]="true"/>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="cancel()">Cancel</button>
	<button mat-button (click)="saveNewArticle()" cdkFocusInitial>Create</button>
</div>