<div class="container">
	<h2>Settings</h2>
	
	<mat-divider></mat-divider>

	<betwelines-version-settings></betwelines-version-settings>

	<mat-divider></mat-divider>

	<betwelines-users></betwelines-users>

	<mat-divider></mat-divider>

</div>