<mat-toolbar color="primary" class="betwelines-header mat-elevation-z6">
	<mat-toolbar-row>
		<a class="navbar-brand" [routerLink]="['/']">Betwelines</a>
		
		<ng-container *ngIf="currentUser">
			
			<betwelines-new-article-button class="new-article-button"></betwelines-new-article-button>
			
			<span class="toolbar-spacer"></span>
			
			<betwelines-search></betwelines-search>
			
			<span class="toolbar-spacer"></span>

			<betwelines-version-selector></betwelines-version-selector>

			<button mat-icon-button  [routerLink]="['/settings']"><mat-icon class="example-icon">settings</mat-icon></button>

			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>person</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<span class="menu-username"><mat-icon>person</mat-icon>{{currentUser.name}}</span>
				<button mat-menu-item (click)="logout()">
					<mat-icon>edit</mat-icon>
					<span>Edit Profile</span>
				</button>
				<button mat-menu-item (click)="logout()">
					<mat-icon>logout</mat-icon>
					<span>Logout</span>
				</button>
			</mat-menu>
		</ng-container>
	</mat-toolbar-row>
</mat-toolbar>