<div class="container-fluid control-section">
	<div class="row">
		<div class="col-3">
			<mat-form-field>
				<mat-select [(ngModel)]="version">
					<mat-option *ngFor="let v of versions" [value]="v.index">{{v.label}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-9">
			<mat-form-field class="search-field">
				<input #searchInput type="text" matInput placeholder="Search for cards" (keyup.enter)="search(searchInput.value)"/>
			</mat-form-field>
			<button mat-mini-fab color="white">
				<mat-icon aria-label="Search for cards" (click)="search(searchInput.value)">search</mat-icon>
			</button>
			<button mat-mini-fab color="primary" (click)="add()">
					<mat-icon aria-label="Add card">add</mat-icon>
				</button>
			</div>
		<!-- <span class="toolbar-spacer"></span> -->
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<mat-card class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 hover-elevated hover-visible-actions" *ngFor="let card of cards">
			<mat-card-header>
				<!-- <div mat-card-avatar class="example-header-image"></div> -->
				<mat-card-title><span *ngIf="card.handle" class="card-handle">[{{card.handle}}] </span>{{card.title}}</mat-card-title>
				<mat-card-subtitle>{{card.tags}}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<!-- WARNING: Using innerHtml is unsafe! Use https://www.npmjs.com/package/ngx-markdown instead: -->
				<div [innerHtml]="card.content"></div>
			</mat-card-content>
			<mat-card-actions [align]="'end'">
				<button mat-icon-button (click)="edit(card)">
					<mat-icon aria-label="Edit card">edit</mat-icon>
				</button>
				<button mat-icon-button (click)="delete(card)">
					<mat-icon aria-label="Delete card">delete</mat-icon>
				</button>
				<button mat-icon-button (click)="view(card)">
					<mat-icon aria-label="View card">visibility</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<button mat-stroked-button class="more-button" (click)="more()" [disabled]="moreDisabled">More</button>
</div>