.control-section button {
	margin-left: 10px;
}

.card {
	max-width: 400px;
	margin: 15px;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}

mat-form-field.search-field {
	width: 500px;
}

.mat-toolbar {
	background: #fff;
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.more-button {
	width: 100%;
	font-size: large;
}

/* Card elevation on hover: */
.hover-elevated:hover {
	box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
	transform: translate3d(0, 0, 0);
	transition: 'background' .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

/* Card buttons appear on hover: */
mat-card.hover-visible-actions > mat-card-actions {
	visibility: hidden;
}
mat-card.hover-visible-actions:hover > mat-card-actions {
	visibility: visible;
}