
<mat-form-field class="search-field">
	<input #searchInput type="text" matInput placeholder="Search" (keyup.enter)="search(searchInput.value)"/>
</mat-form-field>
<button mat-icon-button color="white" [matMenuTriggerFor]="searchResult">
	<mat-icon aria-label="Search" (click)="search(searchInput.value)">search</mat-icon>
</button>

<mat-menu #searchResult="matMenu">
	<a [routerLink]="['docs', version, card.meta.handle]" mat-menu-item *ngFor="let card of articles">
		{{card.title}}
		<!-- {{card.handle}}
		<div [innerHtml]="card.content"></div> -->
	</a>
	<button mat-menu-item class="more-button" (click)="more()" [disabled]="moreDisabled">More</button>
</mat-menu>

