<div class="container">
<div class="row">
	<div class="col-2 offset-3 login-form">
		<mat-form-field class="login-full-width">
			<input matInput placeholder="Email/username" [(ngModel)]="username"/>
		</mat-form-field>
		<mat-form-field class="login-full-width">
			<input matInput placeholder="Password" type="password" [(ngModel)]="password" />
		</mat-form-field>
		<button mat-raised-button color="primary" (click)="login()">Login</button>
	</div>
</div>
<p *ngIf="loading">Logging in...</p>
<p *ngIf="error">ERROR: {{error?.error?.error_description}}</p>

</div>