<button mat-button (click)="onClick()">
	<mat-icon>file_upload</mat-icon>
	Upload
</button>
<input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
