<h1 mat-dialog-title>{{card.id ? "Editing " + card.tocLabel : "New Card"}}</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput [(ngModel)]="card.tocLabel" placeholder="Title"/>
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="card.handle" placeholder="Handle"/>
	</mat-form-field>
	<mat-form-field>
		<textarea matInput [(ngModel)]="card.content" rows="5" placeholder="Content"></textarea>
	</mat-form-field>
	<!-- <mat-form-field> -->
		<betwelines-card-tag-input [(ngModel)]="card.tagObjects"></betwelines-card-tag-input>
		<!-- <input matInput [(ngModel)]="card.tags" placeholder="Tags"/> -->
	<!-- </mat-form-field> -->
</div>
<div mat-dialog-actions>
	<button mat-button (click)="close()">Cancel</button>
	<button mat-button [mat-dialog-close]="card" cdkFocusInitial>Ok</button>
</div>