<mat-drawer-container class="main-container">
	<mat-drawer mode="side" opened class="toc-panel">
		<betwelines-toc></betwelines-toc>
	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
		<!-- <betwelines-article></betwelines-article> -->
	</mat-drawer-content>
</mat-drawer-container>