<ul>
	<li *ngFor="let file of files">
		<mat-progress-bar [value]="file.progress"></mat-progress-bar>
		<span id="file-label">{{file.data.name}}</span>
	</li>
</ul>
<button mat-raised-button (click)="closeMe()">Close</button>