<ng-container *ngIf="version">
	<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="toc">
		<mat-tree-node style="display: none;" *matTreeNodeDef="let node; when: isCard">
			<!-- Hidden node. -->
		</mat-tree-node>
		<!-- This is the tree node template for leaf nodes -->
		<mat-tree-node *matTreeNodeDef="let node" routerLinkActive="selected-node"
				matTreeNodePadding matTreeNodePaddingIndent="20">
			<!-- use a disabled button to provide padding for tree leaf -->
			<a [routerLink]="[node.handle]">{{node.name}}</a>
			<button mat-icon-button disabled class="node-opener"></button>
		</mat-tree-node>
		<!-- This is the tree node template for expandable nodes -->
		<mat-tree-node *matTreeNodeDef="let node;when: hasChild" routerLinkActive="selected-node"
				matTreeNodePadding matTreeNodePaddingIndent="20">
			<a [routerLink]="[node.handle]">{{node.name}}</a>
			<button mat-icon-button matTreeNodeToggle class="node-opener" 
					[attr.aria-label]="'toggle ' + node.name">
				<mat-icon class="mat-icon-rtl-mirror">
					{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
				</mat-icon>
			</button>
		</mat-tree-node>
	</mat-tree>
</ng-container>