/*
	The only reason we keep these styles in a separate style.css, as opposed to having it
	bundled up with the rest of the css, is the potential ability to dynamically override
	styles. For example, an application admin can upload a custom CSS file and get it picked
	up by the app.
*/

/* ========================================== */
/*  components/article */
/* ========================================== */
.article-body-narrow {
	float: left;
	width: 60%;
}
.article-body-wide {
	float: left;
	width: calc(100% - 30px);
}
.article-resource-panel {
	float: right;
	width: 39%;
}
.article-resource-panel-opener {
	float: right;
	width: 30px;
}
.article-resource-panel-close-btn {
	float: right;
}
.article-edit-btn {
	float: right;
}
.article-edit-container textarea {
	width: 100%;
	min-height: 200px;
}
.article markdown img {
	max-width: 100%;
}
.article markdown {
	color: #555;
}

/* ========================================== */
/* components/article/images-panel */
/* ========================================== */
.card {
	max-width: 150px;
	margin: 5px;
}
.hover-elevated:hover {
	box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
	transform: translate3d(0, 0, 0);
	transition: 'background' .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}
/* Card buttons appear on hover: */
mat-card.hover-visible-actions > mat-card-actions {
	visibility: hidden;
}
mat-card.hover-visible-actions:hover > mat-card-actions {
	visibility: visible;
}


/* ========================================== */
/* components/header */
/* ========================================== */
.toolbar-spacer {
	flex: 1 1 auto;
}
mat-toolbar.mat-toolbar-multiple-rows {
	/* min-height: 35px; */
}
mat-toolbar-row.mat-toolbar-row {
	/* height: 35px; */
}
mat-toolbar {
	/* box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); */
	/* box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important; */
}
betwelines-header .mat-elevation-z6 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	position: relative;
	z-index: 2;
}
betwelines-header .navbar-brand {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
}
betwelines-header label.mat-form-field-label {
	font-size: 15px;
	top: 30px!important;
}
betwelines-header .mat-form-field-label.mat-form-field-empty {
	font-size: 15px;
	top: 30px;
}
.betwelines-header a {
	color: #fff;
}
.betwelines-header a:hover {
	color: #ff1;
}
.menu-username {
	margin: 20px;
	line-height: 40px;
}
.new-article-button {
	margin-left: 20px;
	z-index: 100;
}


/* ========================================== */
/*  components/main */
/* ========================================== */
mat-drawer-container.main-container {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}
mat-drawer.toc-panel {
	width: 250px;
}


/* ========================================== */
/*  components/settings/users/user-editor */
/* ========================================== */
div.user-editor mat-form-field {
	width: 100%;
}


/* ========================================== */
/*  components/toc */
/* ========================================== */
.toc a {
	color: #777;
}
.toc a:visited {
	color: #777;
}
.toc .node-opener {
	width: 30px;
}
.toc mat-tree-node {
	min-height: 28px;
	color: #777;
}
.toc mat-tree-node .node-opener {
	height: 20px;
}
.toc mat-tree-node a {
	width: 100%;
	margin-left: 20px;
}
.toc .node-opener.mat-icon-button {
	line-height: 20px;
}
.toc .selected-node {
	background-color: aliceblue;
}


/* ========================================== */
/*  core/security/login */
/* ========================================== */
div.login-form input {
	width: 100%;
}