<h1 mat-dialog-title>{{user.id ? "Editing " + user.name : "New User"}}</h1>
<div mat-dialog-content class="user-editor">
	<mat-form-field>
		<input matInput [(ngModel)]="user.name" placeholder="Name"/>
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="user.email" placeholder="Email"/>
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="user.password" placeholder="Password"/>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="close()">Cancel</button>
	<button mat-button [mat-dialog-close]="user" cdkFocusInitial>Save</button>
</div>