<button mat-mini-fab color="primary" (click)="add()">
	<mat-icon aria-label="Add card">add</mat-icon>
</button>
<mat-accordion *ngIf="cards">
	<mat-expansion-panel *ngFor="let card of cards">
		<mat-expansion-panel-header>
			<mat-panel-title>
				#{{card.handle}}
			</mat-panel-title>
			<mat-panel-description>
				{{card.title}}
				
				<button mat-icon-button (click)="edit(card)">
					<mat-icon aria-label="Edit card">edit</mat-icon>
				</button>
				<button mat-icon-button (click)="delete(card)">
					<mat-icon aria-label="Delete card">delete</mat-icon>
				</button>
				<button mat-icon-button (click)="view(card)">
					<mat-icon aria-label="View card">visibility</mat-icon>
				</button>
				
			</mat-panel-description>
		</mat-expansion-panel-header>

		<markdown [data]="card.content"></markdown>

	</mat-expansion-panel>
</mat-accordion>