<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
	{{data.body}}
</div>
<div mat-dialog-actions>
	<button mat-button *ngIf="data.cancelBtn" (click)="cancel()">Cancel</button>
	<button mat-button (click)="ok()">OK</button>
</div>