<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<betwelines-file-uploader-button (onFileUploaded)="onFileUploaded($event)"></betwelines-file-uploader-button>
		</div>
	</div>
	<div class="row">
		<mat-card class="card col-4 col-sm-12 col-md-6 hover-elevated hover-visible-actions"
				*ngFor="let image of fileItems">
			<img mat-card-image src="{{image.url}}" alt="{{image.title}}"/>
			<mat-card-content>
				<code>{{image.fileName}}</code>
			</mat-card-content>
			<mat-card-actions [align]="'end'">
				<button mat-icon-button (click)="copyLink(image.url)">
					<mat-icon aria-label="Copy link">content_copy</mat-icon>
				</button>
				<button mat-icon-button>
					<mat-icon aria-label="Delete card" (click)="deleteImage(image)">delete</mat-icon>
				</button>
				<button mat-icon-button>
					<mat-icon aria-label="View card" (click)="openImagePreview(image.url)">visibility</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>

