<div class="row">
	<div class="col-3 offset-2 text-right">
		<h4>Versions:</h4>
	</div>
	<div class="col-5">
		<mat-list>
			<mat-list-item *ngFor="let v of versions">
				<p mat-line>{{v.index}} - {{v.label}}</p>
				<button mat-icon-button color="primary" (click)="addVersion()">
					<mat-icon aria-label="Edit version">edit</mat-icon>
				</button>
			</mat-list-item>
			<mat-list-item *ngIf="editingNewVersion">
				<input #newVersion type="text" />
				<button (click)="createVersion(newVersion.value)">Save</button>
			</mat-list-item>
			<mat-list-item *ngIf="!editingNewVersion">
				<p mat-line></p>
				<button mat-mini-fab color="primary" (click)="addVersion()" *ngIf="!editingNewVersion">
					<mat-icon aria-label="Add version">add</mat-icon>
				</button>
			</mat-list-item>
		</mat-list>
	</div>
</div>