<div class="row">
	<div class="col-3 offset-2 text-right">
		<h4>Users:</h4>
	</div>
	<div class="col-5">
		<mat-list>
			<mat-list-item *ngFor="let u of users">
				<p mat-line>name:{{u.name}}, email:{{u.email}}</p>
				<button mat-icon-button color="primary" (click)="editUser(u)">
					<mat-icon aria-label="Edit user">edit</mat-icon>
				</button>
			</mat-list-item>
			<mat-list-item>
				<p mat-line></p>
				<button mat-mini-fab color="primary" (click)="addUser()">
					<mat-icon aria-label="Add user">add</mat-icon>
				</button>
			</mat-list-item>
		</mat-list>
	</div>
</div>